{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindAttributes": ["class", "className"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "importOrder": ["^react", "^@radix-ui/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
