@import "tailwindcss";

body {
  @apply font-sans; /* 默认应用 Inter 和 Noto Sans SC 字体栈 */
  /* 你可以在这里设置基础的字号、行高、颜色等 */
  font-size: 16px; /* 示例 */
  line-height: 1.6; /* 示例 */
  -webkit-font-smoothing: antialiased; /* iOS 和 macOS 字体平滑 */
  -moz-osx-font-smoothing: grayscale;
}
