---
import ProjectCard from "@/components/app/project/ProjectCard.astro";

import type { Project } from "@/types/project";
import type { LocaleValues } from "@/types/config";

export interface Props {
  projects: Project[];
  lang: LocaleValues;
}

const { projects, lang } = Astro.props;
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-8">
  {projects.map((project) => <ProjectCard project={project} />)}
</div>
