---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import footerImage from "@/assets/images/footer-default.png";

import Link from "@/components/Link.astro";
import { ROUTES } from "@/constants/routes";
import { CONFIG_CLIENT } from "@/config/client";

import { Logo } from "@/components/react/ui/Logo";

import { getLatestCommitInfo } from "@/libs/git";
import { shortDate } from "@/utils/data/datetime";
import { limitString, trimHttpProtocol } from "@/utils/data/strings";

const { SITE_URL, AUTHOR_LINKEDIN, AUTHOR_GITHUB, REPO_URL } = CONFIG_CLIENT;
const domain = trimHttpProtocol(SITE_URL);
const messageLength = 15 as const;

const { time, fullHash, message } = getLatestCommitInfo();

const commitUrl = `${REPO_URL}/commit/${fullHash}`;

const shortDateStr = shortDate(new Date(time));
const trimmedMessage = limitString(message, messageLength);

// footer is full width for border, div has max-w
---

<footer class="border-t border-outline py-8 px-4">
  <div class="max-w-6xl md:mx-auto flex justify-center md:justify-start">
    <div class="max-w-7xl container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Logo and Description -->
        <div class="text-left">
          <a href="/" class="navbar-brand block">
            <div
              class="font-primary font-medium text-2xl flex gap-2 items-center
          text-white"
            >
              <Logo />
              <span> IZUMI0UU </span>
            </div>
          </a>
          <p class="text-white/75 my-4">A website for sharing my thoughts and ideas.</p>
        </div>
        <div class="grid grid-cols-2 gap-8">
          <!-- Resources Menu -->
          <div class="text-left">
            <h3 class="text-white mb-4 text-lg">Resources</h3>
            <ul class="space-y-3">
              <li>
                <a href="/#features" class="text-white/75 hover:text-white transition-all"
                  >Features</a
                >
              </li><li>
                <a href="/#pricing" class="text-white/75 hover:text-white transition-all">Pricing</a
                >
              </li><li>
                <a href="/roadmap" class="text-white/75 hover:text-white transition-all"
                  >Product Roadmap</a
                >
              </li>
            </ul>
          </div>
          <!-- Quick Info Menu -->
          <div class="text-left">
            <h3 class="text-white mb-4 text-lg">Quick Info</h3>
            <ul class="space-y-3">
              <li>
                <a href="/terms" class="text-white/75 hover:text-white transition-all">Terms</a>
              </li><li>
                <a href="/privacy" class="text-white/75 hover:text-white transition-all">Privacy</a>
              </li><li>
                <a href="/refund-policy" class="text-white/75 hover:text-white transition-all"
                  >Refund Policy</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Social Icons and Copyright -->
      <div
        class="mt-12 flex flex-col md:flex-row justify-center items-center border-t border-white/10 pt-8"
      >
        <p class="text-white/75">Copyright © 2025 IZUMI0UU. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
