---
import { NavigationBar } from "@/components/react/ui/NavigationBar";
import { Separator } from "@/components/react/radix-ui/Separator";
import { InfiniteScroll } from "@/components/react/ui/InfiniteScroll";
---

<header>
    <div class="flex flex-col gap-2">
        <NavigationBar client:load />
        <Separator client:load />
        <InfiniteScroll client:load />
    </div>
</header>