---
import { SUPPORTED_LOCALES } from "@/config/i18n";
import DebugLayout from "@/layouts/DebugLayout.astro";
import * as m from "@/paraglide/messages";

export async function getStaticPaths() {
  if (import.meta.env.PROD) {
    return [];
  }

  return SUPPORTED_LOCALES.map((lang) => ({
    params: { lang },
  }));
}
---

<DebugLayout>
  <h1>{m["pages.home.title"]()} Debug</h1>
  <a href="/en/debug">{m["common.home"]()}</a>
</DebugLayout>
