---
import FullWidth from "@/layouts/FullWidth.astro";
import { getPageMetadata } from "@/utils/content/metadata";
import { SUPPORTED_LOCALES } from "@/config/i18n";
import { SplitText } from "@/components/react/ui/SpiltText";
import { FallingText } from "@/components/react/ui/FallingText";
import { Highlight } from "@/components/react/ui/HeroHighlightText";
import { cn } from "@/utils/ui/styles";
import * as m from "@/paraglide/messages";

export async function getStaticPaths() {
  return SUPPORTED_LOCALES.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;

// 获取页面metadata（使用空字符串作为首页的key）
const metadata = getPageMetadata("");

const fallingText = m["pages.home.falling_text"]();
---

<FullWidth {metadata}>
  <section
    class={cn(
      "mb-12 flex flex-col justify-center items-center h-[30vh] w-full",
      "bg-surface-container relative flex h-[40rem] w-full items-center justify-center mode-theme-switch"
    )}
  >
    <SplitText
      text={"Hello, I'm Izumi0uu!"}
      className="text-8xl font-semibold text-center text-headings"
      delay={100}
      duration={0.6}
      ease="power3.out"
      splitType="chars"
      threshold={0.1}
      client:only="react"
    />
    <div class="relative z-20">
      <h1
        class="text-2xl px-4 md:text-4xl lg:text-5xl font-bold text-on-surface max-w-4xl leading-relaxed lg:leading-snug text-center mx-auto"
      >
        With insomnia, nothing&apos;s real. Everything is far away. Everything is a{" "}
        <Highlight variant="primary" className="mx-1"> copy, of a copy, of a copy. </Highlight>
      </h1>
    </div>
  </section>

  <section class="mb-12 flex justify-center items-center h-[30vh] w-full">
    <FallingText
      text={m["pages.home.falling_text"]()}
      highlightWords={["ideas", "share"]}
      highlightClass="highlighted"
      trigger="hover"
      wireframes={false}
      gravity={0.3}
      fontSize="2rem"
      mouseConstraintStiffness={0.9}
      client:load
    />
  </section>
</FullWidth>
