---
import FullWidth from "@/layouts/FullWidth.astro";
import { getPageMetadata } from "@/utils/content/metadata";
import { SUPPORTED_LOCALES } from "@/config/i18n";
import { SplitText } from "@/components/react/ui/SpiltText";
import { FallingText } from "@/components/react/ui/FallingText";
import { Highlight } from "@/components/react/ui/HeroHighlightText";
import RotatingText from "@/components/react/ui/RotatingText";
import { cn } from "@/utils/ui/styles";
import * as m from "@/paraglide/messages";
export async function getStaticPaths() {
  return SUPPORTED_LOCALES.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;

// 获取页面metadata（使用空字符串作为首页的key）
const metadata = getPageMetadata("");

const fallingText = m["pages.home.falling_text"]();
---

<FullWidth {metadata}>
  <section class={cn("flex-col-1-layout bg-surface-container h-[40rem] mode-theme-switch")}>
    <div class="flex-col-1-layout h-[6rem]">
      <SplitText
        text={"Hello, I'm Izumi0uu!"}
        className="text-8xl font-semibold text-center text-headings"
        delay={100}
        duration={0.6}
        ease="power3.out"
        splitType="chars"
        threshold={0.1}
        client:only="react"
      />
    </div>
    <div class="flex-col-1-layout h-[6rem]">
      <h1
        class="text-2xl px-4 md:text-4xl lg:text-5xl font-bold text-on-surface max-w-4xl leading-relaxed lg:leading-snug text-center mx-auto"
      >
        <div class="flex-row-1-layout-center">
          I'm a
          <RotatingText
            texts={["Frontend Developer", "Web Developer", "Web3 Enthusiast"]}
            mainClassName={cn(
              "text-2xl text-on-primary overflow-hidden items-center justify-center rounded-lg"
            )}
            staggerFrom={"last"}
            initial={{ y: "100%" }}
            animate={{ y: 0 }}
            exit={{ y: "-120%" }}
            staggerDuration={0.025}
            splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
            transition={{ type: "spring", damping: 30, stiffness: 400 }}
            rotationInterval={2000}
            client:only="react"
          />
        </div>
        Happy to see you here! In this place, you can find some of interesting ideas and projects.
        <Highlight variant="tertiary" className="mx-1" client:only="react">
          Enjoy your time here!
        </Highlight>
      </h1>
    </div>
  </section>

  <section class="mb-12 flex justify-center items-center h-[30vh] w-full">
    <FallingText
      text={m["pages.home.falling_text"]()}
      highlightWords={["ideas", "share"]}
      highlightClass="highlighted"
      trigger="hover"
      wireframes={false}
      gravity={0.3}
      fontSize="2rem"
      mouseConstraintStiffness={0.9}
      client:load
    />
  </section>
</FullWidth>
