---
import Base from "@/layouts/Base.astro";
import { getPageMetadata } from "@/utils/content/metadata";
import { SUPPORTED_LOCALES } from "@/config/i18n";
import { SplitText } from "@/components/react/ui/SpiltText";
import { FallingText } from "@/components/react/ui/FallingText";

export async function getStaticPaths() {
  return SUPPORTED_LOCALES.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;

// 获取页面metadata（使用空字符串作为首页的key）
const metadata = getPageMetadata("");

const handleAnimationComplete = () => {
  console.log('All letters have animated!');
};
---

<Base {metadata}>
  <main class="bg-base  px-4 py-8">
    <section class="mb-12 flex justify-center items-center h-[30vh] w-full">
      <!-- <SplitText
        text="Hello, GSAP!"
        className="text-2xl font-semibold text-center"
        delay={100}
        duration={0.6}
        ease="power3.out"
        splitType="chars"
        from={{ opacity: 0, y: 40 }}
        to={{ opacity: 1, y: 0 }}
        threshold={0.1}
        rootMargin="-100px"
        textAlign="center"
        onLetterAnimationComplete={handleAnimationComplete}
        client:load /> -->
  
    </section>
    <section class="mb-12 flex justify-center items-center h-[30vh] w-full">
      <FallingText
      text={`I got a lot of ideas and I want to share them with you. Hope you like them.`}
      highlightWords={["ideas", "share"]}
      highlightClass="highlighted"
      trigger="scroll"
      wireframes={false}
      gravity={0.6}
      fontSize="2rem"
      mouseConstraintStiffness={0.9}
      client:load
  />
    </section>
  </main>
</Base>
