---
import { getPageMetadata } from "@/utils/content/metadata";
import { SUPPORTED_LOCALES } from "@/config/i18n";
import { SplitText } from "@/components/react/ui/SpiltText";
import { FallingText } from "@/components/react/ui/FallingText";
import RotatingText from "@/components/react/ui/RotatingText";
import { Button } from "@/components/react/radix-ui/Button";
import { cn } from "@/utils/ui/styles";
import * as m from "@/paraglide/messages";

import Centered from "@/layouts/Centered.astro";

export async function getStaticPaths() {
  return SUPPORTED_LOCALES.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;

// 获取页面metadata（使用空字符串作为首页的key）
const metadata = getPageMetadata("");

const fallingText = m["pages.home.falling_text"]();
---

<Centered {metadata}>
  <section class={cn("flex-col-layout bg-surface-container mode-theme-switch")}>
    <div id="hero-page" aria-label="hero-page" class="flex-row-layout p-4">
      <div id="hero-page-content" aria-label="hero-page-content" class="flex-col-layout">
        <div class="flex-col-layout items-baseline">
          <SplitText
            text={"Hello."}
            className="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold text-center text-headings"
            duration={0.6}
            ease="power3.out"
            splitType="chars"
            from={{ opacity: 0, y: 40 }}
            to={{ opacity: 1, y: 0 }}
            threshold={0.1}
            rootMargin="-100px"
            textAlign="center"
            client:only="react"
          />
          <SplitText
            text={"I'm Izumi0uu."}
            className="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold text-center text-headings"
            duration={0.6}
            ease="power3.out"
            splitType="chars"
            from={{ opacity: 0, y: 40 }}
            to={{ opacity: 1, y: 0 }}
            threshold={0.1}
            rootMargin="-100px"
            textAlign="center"
            client:only="react"
          />
        </div>
        <div class="inline-flex">
          <h1
            class="text-2xl md:text-4xl lg:text-5xl font-bold text-on-surface leading-relaxed lg:leading-snug text-center mx-auto"
          >
            I'm a&nbsp;
          </h1>
          <RotatingText
            texts={["Frontend Developer!", "Web Developer!", "Web3 Enthusiast!"]}
            mainClassName={cn(
              "text-primary overflow-hidden items-center justify-center rounded-lg text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
            )}
            staggerFrom={"last"}
            initial={{ y: "100%" }}
            animate={{ y: 0 }}
            exit={{ y: "-120%" }}
            staggerDuration={0.025}
            splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
            transition={{ type: "spring", damping: 30, stiffness: 400 }}
            rotationInterval={2000}
            client:only="react"
          />
        </div>
        <p class="text-on-surface-variant mx-auto">
          Happy to see you here! In this place, you can find some of interesting ideas and
          projects.Enjoy your time here!
        </p>
        <Button variant="brutal" className="p-4">
          <a href="/blog">
            <span>To See My Blogs</span>
          </a>
        </Button>
      </div>
      <div class="flex-row-layout w-full h-full max-w-[340px] max-h-[450px]">
        <img src="/images/default/hero-default.png" alt="hero-page-image" />
      </div>
    </div>
  </section>
</Centered>

<section class="mb-12 flex justify-center items-center h-[30vh] w-full">
  <FallingText
    text={m["pages.home.falling_text"]()}
    highlightWords={["ideas", "share"]}
    highlightClass="highlighted"
    trigger="hover"
    wireframes={false}
    gravity={0.3}
    fontSize="2rem"
    mouseConstraintStiffness={0.9}
    client:load
  />
</section>
