---
import '@/styles/main.css';
import BaseHead from '@/components/BaseHead.astro';
import StagewiseDevToolbar from '@/components/react/dev/StagewiseDevToolbar.tsx';
import type { BaseHeadProps } from '@/components/BaseHead.astro';

export interface BaseProps extends BaseHeadProps {}

const { metadata } = Astro.props as BaseProps;

---

<!doctype html>
<html lang="en">
	<BaseHead {metadata} />
	<body>
		<slot />
		{import.meta.env.DEV && <StagewiseDevToolbar client:only="react" />}
	</body>
</html>