---
import Base from "./Base.astro";
import { cn } from "@/utils/ui/styles";

import type { BaseProps } from "./Base.astro";

export interface CenteredProps extends astroHTML.JSX.HTMLAttributes {}

const props = Astro.props as CenteredProps;

const { className, ...rest } = Astro.props;
---

<Base {...rest}>
  <main class={cn("flex-1 flex flex-col items-center justify-center", className)}>
    <slot />
  </main>
</Base>
