---
import Base from "./Base.astro";

import type { BaseProps } from "./Base.astro";

export interface CenteredProps extends BaseProps, astroHTML.JSX.HTMLAttributes {}

const props = Astro.props as CenteredProps;

const { className, ...rest } = Astro.props;
---

<Base {...rest}>
  <main class="flex-col-1-layout centered-px max-w-7xl py-4 lg:py-8" {...rest}>
    <slot />
  </main>
</Base>
