---
import Base from "./Base.astro";

import type { BaseProps } from "./Base.astro";

import { cn } from "@/utils/ui/styles";

export interface FullWidthProps extends BaseProps, astroHTML.JSX.HTMLAttributes {}

const props = Astro.props as FullWidthProps;

const { className, ...rest } = Astro.props;
---

<Base {...rest}>
  <main class={cn("w-full flex-col-1-layout", className)}>
    <slot />
  </main>
</Base>
