---
import Centered from "./Centered.astro";
import Pagination from "@/components/Pagination.astro";
import PaginationInfo from "@/components/PaginationInfo.astro";
import { Card3d } from "@/components/react/ui/Card3d";

import { ROUTES } from "@/constants/routes";
import { getPathWithLocale } from "@/utils/routing/paths";

import type { BaseProps } from "@/layouts/Base.astro";
import type { PaginationProps } from "@/types/common";

export interface Props extends BaseProps {
  paginationProps?: PaginationProps;
}

const { paginationProps, metadata } = Astro.props;
const { title, description, author } = metadata;
---

<Centered {metadata}>
  <article class="flex flex-col max-w-4xl mx-auto">
    <slot name="heading">
      <div class="w-full flex justify-center md:justify-start">
        <Card3d heading={title.toUpperCase()} client:visible />
      </div>
      {description && <p class="b-p mb-5">{description}</p>}
    </slot>
    
    <section class="flex-grow flex flex-col">
      <slot />
      
      <!-- 分页区域 -->
      {paginationProps && (
        <div class="flex flex-col items-center gap-4 mt-12 w-full">
          <!-- 分页信息 -->
          <PaginationInfo {...paginationProps} className="order-2 md:order-1" />
          
          <!-- 分页导航 -->
          <div class="order-1 md:order-2">
            <Pagination {...paginationProps} />
          </div>
        </div>
      )}
    </section>
  </article>
</Centered>
