---
import FullWidth from "@/layouts/FullWidth.astro";

import type { BaseProps } from "@/layouts/Base.astro";

export interface Props extends BaseProps {}

const props = Astro.props;

---

<FullWidth {...props}>
  <article class="min-h-screen">
    <section class="lg:h-screen lg:flex">
      <aside
        class="lg:w-1/2 lg:flex lg:flex-col lg:justify-center lg:items-center p-6 lg:p-8 bg-surface-container-low"
      >
        <div class="w-full max-w-lg mb-6 lg:mb-8">
          <slot name="cover" />
        </div>

        <div class="text-center mb-4 lg:mb-6">
          <slot name="heading" />
        </div>

        <div class="text-center lg:max-w-md">
          <slot name="description" />
        </div>
      </aside>

      <main class="lg:w-1/2 lg:overflow-y-auto bg-surface min-h-screen lg:min-h-auto">
        <div class="p-6 lg:p-8">
          <slot name="content" />
        </div>
      </main>
    </section>
  </article>
</FullWidth>
